 ### 1. range function

In [1]:
mylist = [1,2,3,4,5,6]

In [2]:
mylist1 = list(range(1,10))
mylist1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
# range(start, stop, step size) 

for num in range(10): #go upto but not include 10
    print(num)

0
1
2
3
4
5
6
7
8
9

In [4]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [5]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [6]:
range(0,11,2) #range is a generator it do not return anything

list(range(0,11,2)) #to have range function to return something; cast it into a list

[0, 2, 4, 6, 8, 10]

### 2. Enumerate

In [10]:
# eg program

index_count = 0

for letters in "abcde":
    print(f"at index {index_count}, letter is {letters}")
    index_count += 1
    
    #this is such a common fucntion that we will use enumerate to do the same

at index 0, letter is a
at index 1, letter is b
at index 2, letter is c
at index 3, letter is d
at index 4, letter is e

In [11]:
word = 'abcde'

for item in enumerate(word):
    print(item)
    
    #it return tuple with index count being the other attribute
    
    # with this we can use tuple unpacking

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [12]:

word = 'abcde'

for index,letter in enumerate(word):
    print(index,letter)
    
#it return a counter

0 a
1 b
2 c
3 d
4 e

In [13]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    
#it return a counter

0
1
2
3
4

In [14]:
word = 'abcde'

for index,letter in enumerate(word):
    print(letter)
    
#it return a counter

a
b
c
d
e

### 3. zip function  

#### kind of opposite to enumerate, it zips together two lists

In [15]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

In [16]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [17]:
mylist3 = [100,200,300,400,500]

In [18]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)
    
    #if the lists are uneven in len then the zip funtion will go too the shortest list

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [19]:
# again we can use tuple unpacking
for a,b,c in zip(mylist1,mylist2,mylist3):
    print(a,b,c)

1 a 100
2 b 200
3 c 300

In [20]:

for a,b,c in zip(mylist1,mylist2,mylist3):
    print(a)

1
2
3

In [21]:
zip(mylist1,mylist2,mylist3) #zip is a generator so it do not return anything

In [22]:
list(zip(mylist1,mylist2,mylist3)) #for it to return we have to cast it to a list

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

### 4. 'in' operator

In [23]:
#works with list

3 in [1,2,3,4,5,6]

True

In [24]:
#wroks with string

'y' in 'hello world'

False

In [25]:
mylist

[1, 2, 3, 4, 5, 6]

In [26]:
2 in mylist

True

In [27]:
10 in mylist

False

In [28]:
'x' in mylist2

False

In [29]:
# also work with dictionaries

d = {'key1':'v1','key2':'v2'}

In [30]:
'key1' in d

True

In [31]:
'key1' in d.keys()

True

In [32]:
'v1' in d

False

In [33]:
'v1' in d.values()

True

In [34]:
'v1' in d.keys()

False

In [35]:
'v1' in d.items()

False

In [36]:
'x' in 'word'

False

### 5. min and max

In [37]:
mylist4 = list(range(10))

In [38]:
mylist4

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
min(mylist4)

0

In [40]:
max(mylist4)

9

### 6. random liberary

In [41]:
 # importing function from liberary
# Random liberary
    
from random import shuffle

In [42]:
mylist = list(range(11))

In [43]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
shuffle(mylist)

#it does't return anything coz this is a inplace function 
# meaning it modifies the list

In [45]:
mylist

[5, 7, 9, 8, 6, 10, 4, 2, 0, 1, 3]

In [46]:
# grabing random integer

from random import randint

In [47]:
#randint(lower range , upper range)

randint(0,100)

7

In [48]:
random_int =randint(0,100)

In [49]:
random_int

79

### 7. taking user input

In [51]:
input()

 5

'5'

In [53]:
name = input()

 5

In [54]:
name

'5'

In [55]:
num = input('Enter a number: ')

Enter a number:  5

In [56]:
# input always output string: 
num

'5'

In [57]:
type(num)

str

In [58]:
num = int(input('Enter a number: '))

Enter a number:  8

In [59]:
num

8

In [60]:
type(num)

int

In [62]:
input('enter a number: ')

enter a number:  5

'5'

In [63]:
#to save the input 

user_input = input('enter a number: ')

enter a number:  56

In [64]:
# note the commas on output, thats coz input function always takes input as a string

user_input

'56'

In [65]:
type(user_input)

str

In [68]:
# to take a integer value

user_input = int(input('enter a number: '))

enter a number:  56

In [69]:
user_input

56

In [70]:
type(user_input)

int