### Tuple unpacking with python

In [1]:
stock_prices = [('apple' , 200),('google' ,400),('msf',100)]

In [2]:
for item in stock_prices:
    print(item)

('apple', 200)
('google', 400)
('msf', 100)

In [3]:
# tuple unpacking 

for comp,prices in stock_prices:
    print(comp)

apple
google
msf

In [4]:
for comp,prices in stock_prices:
    print(prices)

200
400
100

In [5]:
#list of workers in shop one

shop1 = [('abby',100),('billy',400),('cassie',800)]

In [6]:
# find emp who worked most hours

def emp_check(work_hours):
    current_max = 0
    emp_of_month = ''
    
    for emp,hour in work_hours:
        if current_max < hour:
            current_max = hour
            emp_of_month = emp
        else:
            pass
            
    return (emp_of_month,current_max)

In [7]:
emp_check(shop1)

('cassie', 800)

In [8]:
# as our func is returning a tuple, Hence
result = name,hour = emp_check(shop1)

In [9]:
name

'cassie'

In [10]:
result

('cassie', 800)

In [11]:
# list of emp in shop 2

shop2 = [('tom',100),('billy',500),('jane',256),('shuji',459)]

In [12]:
emp_check(shop2)

('billy', 500)

In [13]:
result = emp,hours = emp_check(shop2)

In [14]:
result

('billy', 500)

In [15]:
emp

'billy'

In [16]:
hours

500