### SET: unordered collection of unique elemets
#### meaning there can only be one representative of the same object

In [2]:
my_set = {1,2,3,"marx",3.14}

In [3]:
type(my_set)

set

In [4]:
#declaring a set

myset = set()

In [5]:
# empty set
myset

set()

In [6]:
myset.add(1)

In [7]:
myset

{1}

In [8]:
myset.add(2)

In [9]:
myset.add('marx')

In [10]:
myset

{1, 2, 'marx'}

In [11]:
# adding 2 for the second time

myset.add(2)

In [12]:
# 2 allready exists in the set , threfore there is no change in the set
# as set only take unique values or elements

myset

{1, 2, 'marx'}

##### set only accepts unique values

In [13]:
mylist = [1,1,1,1,2,2,2,3,3,3,4]

In [14]:
set(mylist)

{1, 2, 3, 4}

In [15]:
uni_mylist = set(mylist)
uni_mylist

{1, 2, 3, 4}

In [16]:
 set('Mississippi')

{'M', 'i', 'p', 's'}

##### when two set are compared, it ignores the order, rather focus on content

In [17]:
str1 = "The quick brown fox jumps over the lazy dog"
str2 = "a bCdefg hijklmnop marx qrstuvwxyz"

In [18]:
str1 = str1.replace(" ","").lower()
str2 = str2.replace(" ","").lower()

In [19]:
print(str1)
print(str2)

thequickbrownfoxjumpsoverthelazydog
abcdefghijklmnopmarxqrstuvwxyz

In [20]:
set(str1) == set(str2)

True

In [21]:
# return all charater of alphabet
import string
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [22]:
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [23]:
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

### Booleans: either true or false

In [20]:
True

True

In [21]:
False

False

In [22]:
type(True)

bool

In [23]:
# case sensitive

true

NameError: name 'true' is not defined

###### comperision operators

In [24]:
1>2

False

In [25]:
12 < 45

True

In [26]:
1 == 1

True

In [27]:
1 != 2

True

In [28]:
None

In [29]:
#place holder
b = None
b