### list

In [1]:
mylist = [0,1,2,3,4,5,6,7,8,9,10]

In [2]:
for nums in mylist: 
    print(nums)

0
1
2
3
4
5
6
7
8
9
10

In [3]:
for anyname in mylist: 
    print(anyname)

0
1
2
3
4
5
6
7
8
9
10

In [4]:
 # odd and even numbers
    
for num in mylist:
    if num % 2 ==0:
        print(num)
    else:
        print(f'odd numbers: {num}')

0
odd numbers: 1
2
odd numbers: 3
4
odd numbers: 5
6
odd numbers: 7
8
odd numbers: 9
10

In [5]:
#sum of numbers

list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
list_sum

55

### string

In [6]:
# iterating through a list

mystring = 'Hello world'

for letters in mystring:
    print(letters)

H
e
l
l
o

w
o
r
l
d

In [7]:
# other way of iterating through a list

for letters in 'hello world':
    print(letters)

h
e
l
l
o

w
o
r
l
d

### tuple

In [8]:
# iterating through tuples

tup = (1,2,3,4)

for item in tup:
    print(item)

1
2
3
4

In [9]:
# tuples inside list

mylist = [(1,2),(3,4),(5,6),(7,8)]

In [10]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [11]:
# tuple unpacking

for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [12]:
for (a,b) in mylist:
    print(a)

1
3
5
7

In [13]:
for (a,b) in mylist:
    print(b)

2
4
6
8

In [14]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [15]:
for a,b,c in mylist:
    print(a)
    print(b)
    print(c)

1
2
3
5
6
7
8
9
10

In [16]:
for a,b,c in mylist:
    print(b)

2
6
9

### dictionary

In [24]:
# iterating through a dictionaries

d = {'k1':1,'k2':2,'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [28]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [29]:
for item in d.keys():
    print(item)

k1
k2
k3

In [30]:
for item in d.values():
    print(item)

1
2
3

In [31]:
for key,value in d.items():
    print(key)

k1
k2
k3

In [32]:
for key,value in d.items():
    print(value)

1
2
3

In [23]:
for key,value in d.items():
    print(key,value)

k1 1
k2 2
k3 3