In [2]:
13 + 17+19

49

In [4]:
n = 6
m = 2

In [19]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
n

6

In [46]:
p=1
count = 0
for num in list(range(1000)):
    while num>1:
        if p%num==0:
            count+=1
        
    if count>2:
        print(f'{p} is composite')
    else:
        print(f'{p} is prime')
print(f'{p} in invalid')

1 is prime
1 is prime

KeyboardInterrupt:

In [1]:
people = [
        {"name":"manohar choudhary", "age":26 },
        {"name":"mathew alex", "age": 25},
        {"name":"slaman ansari", "age":18 },
        {"name":"sohail khan", "age": 16},
        {"name":"D J", "age": 15},
        {"name":"Dinesh J", "age":60 },
        {"name":"alex Hritu", "age":25 }
    ]

In [2]:
for ppl in people:
        print(ppl)

{'name': 'manohar choudhary', 'age': 26}
{'name': 'mathew alex', 'age': 25}
{'name': 'slaman ansari', 'age': 18}
{'name': 'sohail khan', 'age': 16}
{'name': 'D J', 'age': 15}
{'name': 'Dinesh J', 'age': 60}
{'name': 'alex Hritu', 'age': 25}

In [2]:
700*5*20*12

840000

In [22]:
def prime(num):

    if num<2:
        return 0

    prime_ = [2]

    for i in range(3,num+1,2):
        for j in range(2,int(i**0.5) +1):
            if i%j==0:
                break
        else:
            prime_.append(i)

    return prime_, len(prime_)

In [23]:
prime(100)

([2,
  3,
  5,
  7,
  11,
  13,
  17,
  19,
  23,
  29,
  31,
  37,
  41,
  43,
  47,
  53,
  59,
  61,
  67,
  71,
  73,
  79,
  83,
  89,
  97],
 25)